<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> KfreezePop </title>
  <meta name="KfreezePop &C Derik Strattan" content="width=device-width, initial-scale=1.0">

  <!-- Le styles -->
  <link href="" rel="stylesheet" media="screen">
  <link rel="stylesheet" type="text/css" href="style.css">

  <link rel="icon"
  type="image/png" href="Favicon.ico">

</head>

<body>

    <!-- Topbar
    ================================================== -->
<header class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">KfreezePop</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href=""><i class="icon-home icon-white"></i>Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Boy Groups <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">2AM</a></li>
              <li><a href="#">2PM</a></li>
              <li><a href="#">BAP</a></li>
              <li><a href="#">BEAST</a></li>
              <li><a href="#">BIG BANG</a></li>
              <li><a href="#">CNBLUE</a></li>
              <li><a href="#">EXO</a></li>
              <li><a href="#">F. CUZ</a></li>
              <li><a href="#">INFINITE</a></li>
              <li><a href="#">MBLAQ</a></li>
              <li><a href="#">NU\'EST</a></li>
              <li><a href="#">SHINee</a></li>
              <li><a href="#">SS501</a></li>
              <li><a href="#">SUPER JUNIOR</a></li>
              <li><a href="#">TVXQ</a></li>
              <li><a href="#">U-KISS</a></li>
              <li><a href="#">ZE:A</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Girl Groups <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">2NE1</a></li>
              <li><a href="#">4MINUTE</a></li>
              <li><a href="#">AFTER SCHOOL</a></li>
              <li><a href="#">APINK</a></li>
              <li><a href="#">BEAST</a></li>
              <li><a href="#">CHOCOLAT</a></li>
              <li><a href="#">F(X)</a></li>
              <li><a href="#">GIRL\'S DAY</a></li>
              <li><a href="#">GIRL\'S GENERATION</a></li>
              <li><a href="#">KARA</a></li>
              <li><a href="#">MISS A</a></li>
              <li><a href="#">SECRET</a></li>
              <li><a href="#">SISTAR</a></li>
              <li><a href="#">T-ARA</a></li>
              <li><a href="#">WONDER GIRLS</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Male Solo <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">JAY PARK</a></li>
              <li><a href="#">K. WILL</a></li>
              <li><a href="#">KIM HYUN JOONG</a></li>
              <li><a href="#">KIM JONG KOOK</a></li>
              <li><a href="#">PSY</a></li>
              <li><a href="#">RAIN</a></li>
              <li><a href="#">SEO IN GUK</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Female Solo <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">AILEE</a></li>
              <li><a href="#">BoA</a></li>
              <li><a href="#">Heyne</a></li>
              <li><a href="#">IU</a></li>
              <li><a href="#">JUNIEL</a></li>
              <li><a href="#">KIM HYUNA</a></li>
              <li><a href="#">KIM YERIM</a></li>
              <li><a href="#">KIM YUNA</a></li>
              <li><a href="#">Lee Hyori</a></li>
              <li><a href="#">NS YOON-G</a></li>
              <li><a href="#">SON DAM BI</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hip Hop <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">DYNAMIC DUO</a></li>
              <li><a href="#">GAEKO</a></li>
              <li><a href="#">LEESSANG</a></li>
              <li><a href="#">PRIMARY</a></li>
              <li><a href="#">SIMON D</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Co-Ed <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Clazziquai</a></li>
              <li><a href="#">Trouble Maker</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-search pull-right" action="">
          <input type="text" class="search-query span2" placeholder="Search">
        </form>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar-inner -->
</header><!-- /.navbar -->
<!-- End navigation HTML -->

<!-- Begin logo header -->
<div id="logo">
  <a title="KFreezePop" href="http://KfreezePop.com"></a>
    <a><image_tag("Header.jpg", alt: "KfreezePop"/> </a>
  </div>
  <div class="clear"></div>

<!-- Carousel -->
  <div id="kp-slider" class="carousel slide"><!-- class of slide for animation -->
    <div class="carousel-inner">
      <div class="item active"><!-- class of active since it\'s the first item -->
        <img src="';@output_buffer.append=( asset_path ("chengcheng8.jpg") );@output_buffer.safe_append='" alt="chengcheng8" />
        <div class="carousel-caption">
          <p>Need to give new caption</p>
        </div>
      </div>
      <div class="item">
        <img src="';@output_buffer.append=( asset_path ("Highway2.jpg") );@output_buffer.safe_append='" alt="highway2" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </div>
      <div class="item">
        <img src="http://placehold.it/1200x480" alt="" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </div>
      <div class="item">
        <img src="http://placehold.it/1200x480" alt="" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </div>
    </div><!-- /.carousel-inner -->
<!--  Next and Previous controls below href values must reference the id for this carousel -->
  <a class="carousel-control left" href="#kp-slider" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#kp-slider" data-slide="next">&rsaquo;</a>
</div>
<!-- /.carousel -->


<div id="description">

</div>

<div id="footer">

</div>

<div id="copyright">
  <p>Copyright KfreezePop 2013. </p>
</div>


  <!-- Le javascript -->
    <!-- jQuery (necessary for Bootstrap\'s JavaScript plugins) -->
  <script src="//code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="javascripts/bootstrap.min.js"></script>

  <!-- Javascript for carousel here -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script>window.jQuery || document.write(\'<script src="js/jquery-2.0.3.min.js"><\\/script>\')</script>


  <script>
  $(document).ready(function(){
    $(\'.carousel\').carousel({
      interval: 5000
    });
  });
  </script>

  <!-- Javascript for Dropdown Menu -->
</body>
</html>
