<div id="bg">
  <%= image_tag "beast.jpg" %>
</div>

<!-- Carousel -->
<div id="vid-slider" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it\'s the first item -->
      <iframe width="853" height="480" src="//www.youtube.com/embed/7Y3ZRYQl4Qo?list=PLbBpPEnW_oSx8wgBHzEJOwnTdtPL2P9p8" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="item">
      <iframe width="853" height="480" src="//www.youtube.com/embed/ckIGhwQtd-c?list=PLbBpPEnW_oSx8wgBHzEJOwnTdtPL2P9p8" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="item">
      <iframe width="853" height="480" src="//www.youtube.com/embed/pmqA_EVyTDM?list=PLbBpPEnW_oSx8wgBHzEJOwnTdtPL2P9p8" frameborder="0" allowfullscreen></iframe>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below href values must reference the id for this carousel -->
  <a class="carousel-control left" href="#vid-slider" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#vid-slider" data-slide="next">&rsaquo;</a>
</div>
<!-- /.carousel -->

