<header class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#"></a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to 'Home', root_url %></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Boy Groups <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="2am">2AM</a></li>
              <li><a href="2pm">2PM</a></li>
              <li><a href="2pm">BANGTAN BOYS</a></li>
              <li><a href="bap">BAP</a></li>
              <li><a href="beast">BEAST</a></li>
              <li><a href="big-bang">BIG BANG</a></li>
              <li><a href="c-clown">C-CLOWN</a></li>
              <li><a href="cn-blue">CNBLUE</a></li>
              <li><a href="exo">EXO</a></li>
              <li><a href="f-cuz">F.CUZ</a></li>
              <li><a href="ft-island">FT ISLAND</a></li>
              <li><a href="infinite">INFINITE</a></li>
              <li><a href="mblaq">MBLAQ</a></li>
              <li><a href="mblaq">MBLAQ</a></li>
              <li><a href="nu-est">NU'EST</a></li>
              <li><a href="shinee">SHINee</a></li>
              <li><a href="ss501">SS501</a></li>
              <li><a href="super-junior">SUPER JUNIOR</a></li>
              <li><a href="teen-top">TEEN TOP</a></li>
              <li><a href="tvxq">TVXQ</a></li>
              <li><a href="u-kiss">U-KISS</a></li>
              <li><a href="vixx">VIXX</a></li>
              <li><a href="ze-a">ZE:A</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Girl Groups <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="2ne1">2NE1</a></li>
              <li><a href="4minute">4MINUTE</a></li>
              <li><a href="after-school">AFTER SCHOOL</a></li>
              <li><a href="apink">APINK</a></li>
              <li><a href="brown-eyed-girls">BROWN EYED GIRLS</a></li>
              <li><a href="chocolat">CHOCOLAT</a></li>
              <li><a href="dalshabet">DALSHABET</a></li>
              <li><a href="fx">F(X)</a></li>
              <li><a href="girls-day">GIRL'S DAY</a></li>
              <li><a href="girls-generation">GIRL'S GENERATION</a></li>
              <li><a href="kara">KARA</a></li>
              <li><a href="miss-A">MISS A</a></li>
              <li><a href="secret">SECRET</a></li>
              <li><a href="sistar">SISTAR</a></li>
              <li><a href="t-ara">T-ARA</a></li>
              <li><a href="wonder-girls">WONDER GIRLS</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Male Solo <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="jay-park">JAY PARK</a></li>
              <li><a href="k-will">K. WILL</a></li>
              <li><a href="jun-hyung">JUN HYUNG</a></li>
              <li><a href="kim-hyun-joong">KIM HYUN JOONG</a></li>
              <li><a href="kim-jong-kook">KIM JONG KOOK</a></li>
              <li><a href="kim-kyung-rok">KIM KYUNG ROK</a></li>
              <li><a href="psy">PSY</a></li>
              <li><a href="rain">RAIN</a></li>
              <li><a href="seo-in-guk">SEO IN GUK</a></li>
              <li><a href="taeyang">TAEYANG</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Female Solo <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="ailee">AILEE</a></li>
              <li><a href="boa">BoA</a></li>
              <li><a href="heyne">HEYNE</a></li>
              <li><a href="iu">IU</a></li>
              <li><a href="juniel">JUNIEL</a></li>
              <li><a href="kim-hyuna">KIM HYUNA</a></li>
              <li><a href="kim-yerim">KIM YERIM</a></li>
              <li><a href="kim-yuna">KIM YUNA</a></li>
              <li><a href="lee-hyori">LEE HYORI</a></li>
              <li><a href="ns-yoon-g">NS YOON-G</a></li>
              <li><a href="son-dam-bi">SON DAM BI</a></li>
              <li><a href="seo-in-young">SEO IN YOUNG</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hip Hop <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="beenzino">BEENZINO</a></li>
              <li><a href="dynamic-duo">DYNAMIC DUO</a></li>
              <li><a href="g-dragon">G DRAGON</a></li>
              <li><a href="gaeko">GAEKO</a></li>
              <li><a href="leessang">LEESSANG</a></li>
              <li><a href="outsider">OUTSIDER</a></li>
              <li><a href="primary">PRIMARY</a></li>
              <li><a href="san-e">SAN E</a></li>
              <li><a href="simon-d">SIMON D</a></li>
              <li><a href="tablo">TABLO</a></li>
              <li><a href="top">T.O.P.</a></li>
              <li><a href="verbal-jint">VERBAL JINT</a></li>
              <li><a href="zion-t">ZION T</a></li>
            </ul>
          </li>
          <%= notice %>
          <%= alert %>

        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar-inner -->
  </header><!-- /.navbar -->

  <!-- End navigation HTML -->
